<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="d:\logs\NagiosChecker\nlog-error.log">

  <variable name="logDirectory" value="c:/logs/NagiosChecker"/>

  <targets>

    <target name="file" xsi:type="File"
        layout="${longdate} ${message}"
        fileName="${logDirectory}/nagios_${date:format=yyyy-MM-dd}.log"
        keepFileOpen="false"/>

  </targets>

  <rules>
    <logger name="LOG" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
